{% extends 'CoreTemplateBundle::base.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form_tool %}

{% form_theme form 'EvangelikoAccountBundle:Orders:theme.html.twig' %}
{% block content %}
{# <div class="row">
	<div class="col-md-12">
		<div class="form-body">
			<div class="form-horizontal form"> #}
				{# <div class="form-group"> #}
					{# group_textnew(label, name, value, label_size, body_size, options = {} ) #}

				{# </div> #}
{# 			</div>
		</div>		
	</div>
</div> #}
<div class="page--wrap--contents">
	<div class="container">
		<div class="row">
					{{ form_tool.group_textnew("Total Price", "total_price","$"~ order.amount, 3, 4) }}
					{# <label class="col-md-3 control-label">Total price:</label> $  #}

					{{ form_start(form) }}
					<br><br><br>
					<div class="form-group">
					    {{ form_widget(form) }}
					</div>
					<div class="col-md-3">
						<div class="form-actions fluid">
							{# <button type="submit" class="btn btn-primary">Submit</button> #}
							<input type="submit" value="Pay with Paypal" class="btn btn-primary" />
						</div>
					</div>
					{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	$('select').select2();
});
</script>
{% endblock %}