{% block side_menu %}

    <div id="site-menu" class="visible-xs">
        <a href="#" class="toggle-nav pull-right">
            <i class="medium material-icons">close</i>
        </a>


        <!-- side menu contents -->
        <div class="navbar-header--tools">
            <ul class="nav navbar-nav">
                <li>
                    <h2>My Profile</h2>
                </li>
                <li>
                    <a href="#">
                        All About Earth
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Traveller Not Tourist
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Earthly Made
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="small material-icons">person</i> Create Pagesadasd
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="small material-icons">person</i>My Profile
                    </a>
                </li>
            </ul>
            <a href="#" class="hidden-xs hidden-sm btn btn-large btn-default">Create page</a>
        </div>

        <ul class="mobile-console">
            <!-- <li><a href="#"><i class="small material-icons">search</i></a></li> -->
            <li>
                <form action="" class="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" id="search" p  <eholder="Search">
                    </div>
                </form>
            </li>
            <li>
                <a href="#">
                    <i class="small material-icons">notifications</i> Notifications</a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/24x24" alt="" class="img-circle img-responsve"> <span class="">Juan</span> <strong class="pull-right">$0</strong>
                </a>
            </li>
            <li>
                <a href="#">My profile</a>
            </li>
            <li>
                <a href="#">Purchase Credits <strong class="pull-right">$0</strong></a>
            </li>
            <li>
                <a href="#">Invite friends</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>

        <!-- side menu end -->

    </div>

{% endblock %}